@page
@model Web.Pages.Admin.Blogs.ListModel
@{
}

<div class="bg-secondary bg-opacity-10 py-2 mb-5">
    <div class="container">
        <h1>Blog Posts</h1>
    </div>
</div>

<partial name="_Alert" />

@if (Model.ListBlogPostModels != null && Model.ListBlogPostModels.Any())
{
    <div>
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <td>Id</td>
                        <td>Heading</td>
                        <td>Visible</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var blogPost in Model.ListBlogPostModels)
                    {
                        <tr>
                            <td>@blogPost.Id</td>
                            <td>@blogPost.Heading</td>
                            <td>
                                @if (blogPost.Visible)
                                {
                                    <span>✓</span>
                                }
                            </td>
                            <td><a href="/Admin/Blogs/Edit/@blogPost.Id">View</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}